.userListContainer {
    background-color: #80CBC4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .userListContainer h2 {
    color: #004D40;
  }
  
  .userListContainer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .userListContainer li {
    background-color: #4DB6AC;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .userListContainer li:hover {
    background-color: #00897B;
  }
  