.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    justify-content: space-around;
    box-shadow: 0 5px 0 rgb(245, 245, 245);
    overflow: auto;
    

}