.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    width: 13rem;
    height: fit-content;
    text-align: center;
    display: inline-block;
    vertical-align: top;

    transition: transform 0.3s ease;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
   
    
  }
  .card:hover{
    transform: scale(1.1);
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card-info {
    text-align: left;
    text-decoration: none;
    
  }
  
  .card-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-info p {
    font-size: 14px;
    margin-bottom: 8px;
    
  }
  
  .price {
    font-weight: bold;
    color: #333;
  }
  .addBtn{
    background-color: #333;
    color :white;
    border-radius: 5px;
    padding: 0.5rem;
  }
  .addBtn:hover{
    background-color: #000000;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }