.wrapper{
    margin-top: 8rem;
    display: flex;
    padding: 5rem;
    justify-content: space-around;

}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:20%
}
.section3{
    background-color:whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
}