.wrapper{
    margin-top: 8rem;
    align-items: center;
      display: flex;
      flex-direction: column;
    
  }
  .form{
      display: flex;
      flex-direction: column;
      background:linear-gradient(45deg, #80CBC4,#4DB6AC);
      width: 60%;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow: 5px 5px grey;
      margin: 10px 0;
  }